.list_client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .container-identify{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text-code{
            font-size: 0.6rem;
            color: #c3c3c3;
        }
    }
}
c-card:hover{
    cursor: pointer;
    background-color: #eee;
}