<c-modal *ngIf="studentService.profileSaleModal" [visible]="studentService.profileSaleModal" alignment="top"
    id="verticallyCenteredModal" size="xl">
    <c-modal-header>
        <div class="title">
            <strong>Data da venda:</strong> <span>{{studentService.profileSale?.create_at | date : 'dd/MM/yyyy'}}</span>
        </div>
        <button cButtonClose (click)="studentService.profileSaleModal = false"></button>
    </c-modal-header>
    <c-modal-body class="mt-4">
        <c-row>
            <div class="d-flex justify-content-between">
                <c-card>
                    <div class="card_data">
                        <svg cIcon name="cilDollar" width="40" height="40" title="Paper Plane Icon"></svg>
                        <div>
                            <span>Valor da venda</span>
                            <span>{{studentService.profileSale?.total_amount - studentService.profileSale?.valueDiscount
                                | currency:'BRL'}}</span>
                        </div>
                    </div>
                </c-card>
                <c-card>
                    <div class="card_data">
                        <svg cIcon name="cilDollar" class="text-success" width="40" height="40"
                            title="Paper Plane Icon"></svg>
                        <div>
                            <span>Total recebido</span>
                            <span
                                [ngClass]="{'text-success': studentService.profileSale?.total_received > 0}">{{studentService.profileSale?.total_received
                                |
                                currency:'BRL'}}</span>
                        </div>
                    </div>
                </c-card>
                <c-card>
                    <div class="card_data">
                        <svg cIcon name="cilDollar" class="text-danger" width="40" height="40"
                            title="Paper Plane Icon"></svg>
                        <div>
                            <span>Valor a pagar</span>
                            <span
                                [ngClass]="{'text-danger': (studentService.profileSale?.total_amount - studentService.profileSale?.valueDiscount) - studentService.profileSale?.total_received > 0}">
                                {{ (studentService.profileSale?.total_amount -
                                studentService.profileSale?.valueDiscount) - studentService.profileSale?.total_received
                                | currency:'BRL' }}
                            </span>
                        </div>
                    </div>
                </c-card>
            </div>
        </c-row>
        <c-row class="items_sale">
            <h2>Items da venda</h2>
            <c-smart-table #smartTable="cSmartTable" clickableRows [columns]="columns" header pagination
                [items]="studentService.itemsOfSale" pagination [sorterValue]="{ column: 'name', state: 'asc' }"
                [tableBodyProps]="{align: 'middle'}" [tableHeadProps]="{color: 'warning'}">

                <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td [cTableActive]="smartTable.tableDataCellProps(item, columnName)?.['active']"
                        [cTableColor]="smartTable.tableDataCellProps(item, columnName)?.color"
                        [cAlign]="smartTable.tableDataCellProps(item, columnName)?.align"
                        [ngClass]="smartTable.tableDataCellClasses(item, columnName)">
                        <ng-container [ngSwitch]="columnName">
                            <ng-container *ngSwitchCase="'statusPayment'">
                                <c-badge [color]="getBadge(tdContent)">
                                    {{(item[columnName]) | statusPayment}}
                                </c-badge>
                            </ng-container>
                            <ng-container *ngSwitchCase="'data'">
                                {{(item[columnName]) | date : 'dd/MM/yyyy'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'valueDiscount'">
                                {{(item[columnName]) | currency:'BRL'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'total_amount'">
                                {{(item[columnName]) - item['total_received'] | currency:'BRL'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'total_to_receive'">
                                {{(item[columnName]) | currency:'BRL'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'show'">
                                <button cButton color="primary" variant="outline" size="sm">ver</button>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{tdContent}}
                            </ng-container>

                        </ng-container>
                    </td>
                </ng-template>
            </c-smart-table>
        </c-row>
        <c-row class="items_sale">
            <h2>Recebimentos</h2>
            <c-smart-table #smartTable="cSmartTable" clickableRows [columns]="columnsReceivedPayment" header pagination
                [items]="studentService.paymentsOfSale" pagination [sorterValue]="{ column: 'name', state: 'asc' }"
                [tableBodyProps]="{align: 'middle'}" [tableHeadProps]="{color: 'warning'}">

                <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td [cTableActive]="smartTable.tableDataCellProps(item, columnName)?.['active']"
                        [cTableColor]="smartTable.tableDataCellProps(item, columnName)?.color"
                        [cAlign]="smartTable.tableDataCellProps(item, columnName)?.align"
                        [ngClass]="smartTable.tableDataCellClasses(item, columnName)">
                        <ng-container [ngSwitch]="columnName">
                            <ng-container *ngSwitchCase="'description'">
                                {{(item[columnName]) | formPayment}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'data'">
                                {{(item[columnName]) | date : 'dd/MM/yyyy'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'value'">
                                {{(item[columnName]) | currency:'BRL'}}
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{tdContent}}
                            </ng-container>

                        </ng-container>
                    </td>
                </ng-template>
            </c-smart-table>
        </c-row>
    </c-modal-body>
</c-modal>