<c-modal id="liveDemoModal" [visible]="service.visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <h5 cModalTitle>Integre seu whatsapp</h5>
        <button (click)="closeModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="container_integration" *ngIf="!isConnected else conected">
            <div class="not_conected">
                <p>Leia o qr code com o app do Whatsapp</p>
                <img [src]="qrcodeWpp" alt="">
            </div>
           
        </div>
        <ng-template #conected>
            <div class="conected">
                <h5 class="text-success">Conectado</h5>
                <img src="../../../assets/undraw_completed_m9ci.svg" alt="">
            </div>
        </ng-template>
    </c-modal-body>
    <c-modal-footer>
        <button [disabled]="isConnected" cButton color="primary" (click)="getQrcode()">
            Gerar QR Code
        </button>
    </c-modal-footer>
</c-modal>