.container_integration{
    
}
.conected{
    h5{
        margin-bottom: 20px;
    }
    img{
        height: 300px;
    }
}

.spinner{
    c-spinner{
        width: 100px;
        height: 100px;
    }
}
.teste{
    color: red;
}
.not_conected p span{
    color: red;
}