<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible" [delay]="3000"
    color="light">
    <c-toast-header>
      <svg cIcon name="cilSave" size="xl" title="Paper Plane Icon"></svg>
    </c-toast-header>
    <c-toast-body>
      <h5 class="title-white">{{ msgRes}}</h5>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>

<app-convert-lead [visible]="convertLead"></app-convert-lead>

<c-card>
  <div class="header-card-profile d-flex flex-column justify-content-between">
    <div></div>
    <div class="d-flex justify-content-around align-items-center">
      <div class="d-flex gap-4 ml-4 img-avatar">
        <c-avatar src="assets/profile-404.svg" class="avatar-perfil"></c-avatar>
      </div>
    </div>
    <div class="d-flex justify-content-around align-items-center">

      <div class="color-white">
        <h4>{{formGroup.get('fullName')?.value}}</h4>
        <!-- se type for igual client exibe o status se nao exibe o btn de conversao -->
        <p *ngIf="formGroup.get('type')?.value == 'client'" [ngClass]="{
          text_danger: formGroup.get('status')?.value === 'contract_inactive',
          text_success: formGroup.get('status')?.value === 'contract_active',
          text_warning: formGroup.get('status')?.value === 'contract_to_expire'
        }">
          {{ formGroup.get('status')?.value | statusStudentContract }}
        </p>
        <div *ngIf="formGroup.get('type')?.value == 'lead'">
          <button cButton color="success" variant="ghost" size="sm" (click)="convert()">Converter</button>
        </div>
      </div>
      <div>
        <div cButton color="success" id="button-addon1" type="button" toggle="visible" (click)="newSale()"
          cSidebarToggle="aside-new-student" title="Novo cadastro">
          <svg cIcon name="cilCart" size="lg" class="color-white"></svg>
          <span class="color-white ml-2">Nova venda</span>
        </div>
      </div>
      <div></div>
    </div>
    <div class="nav_perfil_student">
      <c-nav variant="underline" class="nav-profile">
        <c-nav-item>
          <a [cTabContent]="tabContent1" class="text-light" [routerLink] [tabPaneIdx]="0" cNavLink>
            <svg cIcon class="me-2" name="cilHome"></svg>
            Perfil
          </a>
        </c-nav-item>
        <c-nav-item>
          <a [cTabContent]="tabContent1" class="text-light" id="menu_register" [routerLink] [tabPaneIdx]="1" cNavLink>
            <svg cIcon class="me-2" name="cilUser"></svg>
            Cadastro
          </a>
        </c-nav-item>
        <c-nav-item>
          <a [cTabContent]="tabContent1" class="text-light" [routerLink] [tabPaneIdx]="2" cNavLink>
            <svg cIcon class="me-2" name="cilCode"></svg>
            Vendas
          </a>
        </c-nav-item>
        <c-nav-item *ngIf="formGroup.value['type'] == 'client'">
          <a [cTabContent]="tabContent1" class="text-light" [routerLink] [tabPaneIdx]="3" cNavLink>
            <svg cIcon class="me-2" name="cilCode"></svg>
            Contratos
          </a>
        </c-nav-item>
        <c-nav-item>
          <a [cTabContent]="tabContent1" class="text-light" [routerLink] [tabPaneIdx]="4" cNavLink>
            <svg cIcon class="me-2" name="cilCode"></svg>
            Relacionamento
          </a>
        </c-nav-item>
      </c-nav>
    </div>
  </div>
  <c-card-header>

  </c-card-header>
  <c-card-body>
    <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <c-row>
          <c-col md="5">
            <!-- informações pessoais, not is form -->
            <c-card>
              <c-card-header class="d-flex justify-content-between">
                <div>
                  <svg cIcon class="me-2" name="cilUser"></svg>
                  <span>Informações pessoais</span>
                </div>
                <a (click)="goRegister()" class="cursor-pointer"> <svg cIcon class="me-2" name="cilPencil"
                    size="lg"></svg></a>
              </c-card-header>
              <c-card-body>
                <div class="info-profile">
                  <div>
                    <span>Nome</span>
                    <span>{{formGroup.get('fullName')?.value}}</span>
                  </div>
                  <div>
                    <span>Data de nascimento</span>
                    <span>{{formGroup.get('dob')?.value | date : 'dd/MM/yyyy'}}</span>
                  </div>
                  <div>
                    <span>Sexo</span>
                    <span>{{formGroup.get('sex')?.value == 'female'?
                      'Feminino':formGroup.get('sex')?.value=='male'?'Masculino':'Outro'}}</span>
                  </div>
                  <div>
                    <span>Email</span>
                    <span>{{formGroup.get('email')?.value}}</span>
                  </div>
                  <div>
                    <span>Telefone</span>
                    <span>{{formGroup.get('phone')?.value | fone}} </span>
                  </div>
                  <div>
                    <span>Objetivos</span>
                    <span>{{formGroup.get('goals')?.value?formGroup.get('goals')?.value:"-"}}</span>
                  </div>
                </div>
              </c-card-body>
            </c-card>

          </c-col>
        </c-row>
      </c-tab-pane>
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <form cForm [formGroup]="formGroup" (ngSubmit)="onSubmit() " #customStylesForm="ngForm"
          [validated]="customStylesValidated">
          <c-row>
            <!-- Informações Pessoais -->
            <c-col md="4">
              <label cLabel for="fullName">Nome Completo</label>
              <input cFormControl id="fullName" type="text" required formControlName="fullName" />
              <c-form-feedback [valid]="false">Por favor digite o nome .</c-form-feedback>
            </c-col>
            <c-col md="2">
              <label cLabel for="dob">Data de Nascimento</label>
              <input cFormControl id="dob" type="date" formControlName="dob" />
            </c-col>
            <c-col md="2">
              <label cLabel for="sex">Sexo</label>
              <select cFormControl id="sex" cSelect formControlName="sex">
                <option value="male">Masculino</option>
                <option value="female">Feminino</option>
                <option value="other">Outro</option>
              </select>
            </c-col>
          </c-row>
          <c-row>
            <c-col md="4">
              <label cLabel for="email">E-mail</label>
              <input cFormControl id="email" type="email" formControlName="email" />
            </c-col>

            <c-col md="4">
              <label cLabel for="phone">Número de Telefone</label>
              <input mask="(00) 0 0000-0000" cFormControl id="phone" type="tel" required formControlName="phone" />
              <c-form-feedback [valid]="false">Por favor digite o nome .</c-form-feedback>
            </c-col>
          </c-row>
          <c-row>
            <c-col md="8">
              <label cLabel for="medicalHistory">Histórico Médico</label>
              <textarea cFormControl id="medicalHistory" formControlName="medicalHistory"></textarea>
            </c-col>
          </c-row>
          <c-row>
            <c-col md="4">
              <label cLabel for="emergencyContact">Contato de Emergência</label>
              <input mask="(00) 0 0000-0000" cFormControl id="emergencyContact" type="tel"
                formControlName="emergencyContact" />
            </c-col>

            <c-col md="4">
              <label cLabel for="medications">Medicações em Uso</label>
              <input cFormControl id="medications" type="text" formControlName="medications" />
            </c-col>
          </c-row>
          <c-row>
            <c-col md="8">
              <label cLabel for="exerciseRestrictions">Restrições de Exercício</label>
              <input cFormControl id="exerciseRestrictions" type="text" formControlName="exerciseRestrictions" />
            </c-col>
          </c-row>
          <c-row>
            <c-col md="4">
              <label cLabel for="startDate">Data de Início</label>
              <input cFormControl id="startDate" type="date" formControlName="startDate" />
            </c-col>
            <c-col md="4">
              <label cLabel for="interests">Modalidades de Interesse</label>
              <input cFormControl id="interests" type="text" placeholder="Musculação, Yoga, etc."
                formControlName="interests" />
            </c-col>
          </c-row>
          <c-row>
            <c-col md="4">
              <label cLabel for="goals">Objetivos na Academia</label>
              <input cFormControl id="goals" type="text" placeholder="Perda de peso, ganho muscular..."
                formControlName="goals" />
            </c-col>

            <c-col md="4">
              <label cLabel for="referral">Como soube da academia?</label>
              <input cFormControl id="referral" type="text" formControlName="referral" />
            </c-col>
          </c-row>
          <c-col md="12" class="form-btn">
            <button cButton color="primary" type="submit">Salvar</button>
            <button cButton color="primary" variant="outline" (click)="goBack()">Cancelar</button>
          </c-col>
        </form>
      </c-tab-pane>
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <app-sales></app-sales>
      </c-tab-pane>
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <app-contracts></app-contracts>
      </c-tab-pane>
      <c-tab-pane class="p-3 preview" role="tabpanel">
        <c-card>
          <c-nav variant="underline">
            <c-nav-item>
              <a [cTabContent]="tabRelation" [routerLink] [tabPaneIdx]="0" cNavLink>
                Nova ligação
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [cTabContent]="tabRelation" id="menu_register" [routerLink] [tabPaneIdx]="1" cNavLink>
                Nova mensagem Whatsapp
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [cTabContent]="tabRelation" [routerLink] [tabPaneIdx]="2" cNavLink disabled>
                Novo email
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [cTabContent]="tabRelation" [routerLink] [tabPaneIdx]="3" cNavLink disabled>
                Nova notificação
              </a>
            </c-nav-item>
          </c-nav>

          <c-tab-content #tabRelation="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
            <c-tab-pane class="p-3 preview" role="tabpanel">
              <a class="linkPainel" *ngIf="!formCall" (click)="formCall = !formCall">Registre uma ligação</a>
              <form *ngIf="formCall" cForm #f="ngForm" (ngSubmit)="registerCall(f)">
                <c-row>
                  <c-col sm="4" class="mb-2">
                    <label cLabel for="subject">Assunto</label>
                    <input cFormControl name="subject" id="subject" rows="4" ngModel #messageWpp="ngModel"
                      placeholder="Digite o assunto" />
                  </c-col>
                  <c-col sm="12">
                    <textarea cFormControl name="messageCall" id="messageCall" rows="4" ngModel #messageWpp="ngModel"
                      placeholder="Digite sua mensagem">
                    </textarea>
                    <div class="d-flex gap-2 mt-2 justify-content-end">
                      <button cButton variant="outline" color="dark" (click)="formCall = false"> Cancelar</button>
                      <button cButton color="success" class="text-white" type="submit"
                        [@formButton]="f.control.get('messageCall')?.value.length > 0?'valid':'invalid'"
                        [disabled]="f.control.get('messageCall')?.value.length == 0"> Enviar</button>
                    </div>
                  </c-col>
                </c-row>
              </form>
            </c-tab-pane>
            <c-tab-pane class="p-3 preview" role="tabpanel">
              <a class="linkPainel" *ngIf="!formWpp" (click)="formWpp = !formWpp">Envie uma mensagem</a>
              <form *ngIf="formWpp" cForm #f="ngForm" (ngSubmit)="sendMessageWpp(f)">
                <textarea cFormControl name="messageWpp" id="messageWpp" rows="4" ngModel #messageWpp="ngModel"
                  placeholder="Digite sua mensagem">
                </textarea>
                <div class="d-flex gap-2 mt-2 justify-content-end">
                  <button cButton variant="outline" color="dark" (click)="formWpp = false"> Cancelar</button>
                  <button cButton color="success" class="text-white" type="submit"
                    [@formButton]="f.control.get('messageWpp')?.value.length > 0?'valid':'invalid'"
                    [disabled]="f.control.get('messageWpp')?.value.length == 0"> Enviar</button>
                </div>
              </form>
            </c-tab-pane>
            <c-tab-pane class="p-3 preview" role="tabpanel">
              <a class="linkPainel">Envie um Email</a>
              <div>
                <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
                <div>
                  <button cButton variant="outline"> Cancelar</button>
                  <button cButton color="primary"> Salvar</button>
                </div>
              </div>
            </c-tab-pane>
            <c-tab-pane class="p-3 preview" role="tabpanel">
              <a>Escreva uma notificação</a>
            </c-tab-pane>
          </c-tab-content>
        </c-card>
        <c-card class="mt-4">
          <c-card>
            <c-nav variant="underline" class="tabDateRelation" color="success">
              <c-nav-item>
                <a [cTabContent]="tabDateRelation" [routerLink] [tabPaneIdx]="0" cNavLink>
                  Todos
                </a>
              </c-nav-item>
              <c-nav-item>
                <a [cTabContent]="tabDateRelation" id="menu_register" [routerLink] [tabPaneIdx]="1" cNavLink>
                  Ligações
                </a>
              </c-nav-item>

              <c-nav-item>
                <a [cTabContent]="tabDateRelation" [routerLink] [tabPaneIdx]="3" cNavLink>
                  Whatsapp
                </a>
              </c-nav-item>
              
              <c-nav-item>
                <a [cTabContent]="tabDateRelation" [routerLink] [tabPaneIdx]="2" cNavLink disabled>
                  Email
                </a>
              </c-nav-item>
              
            </c-nav>

            <c-tab-content #tabDateRelation="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
              <c-tab-pane class="p-3 preview" role="tabpanel">
                <c-smart-table [items]="contactsByClient" [columns]="columnsContacts" header
                  [tableProps]="{ hover: true, striped: true, responsive: true }">
                  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td>
                      <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'createAt'">
                          {{ item[columnName] | date : 'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tdContent }}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-template>
                </c-smart-table>
              </c-tab-pane>
              <c-tab-pane class="p-3 preview" role="tabpanel">
                <c-smart-table [items]="contactsByClientCall" [columns]="columnsContacts" header
                  [tableProps]="{ hover: true, striped: true, responsive: true }">
                  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td>
                      <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'createAt'">
                          {{ item[columnName] | date : 'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tdContent }}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-template>
                </c-smart-table>
              </c-tab-pane>
              <c-tab-pane class="p-3 preview" role="tabpanel">
                <c-smart-table [items]="contactsByClientEmail" [columns]="columnsContacts" header
                  [tableProps]="{ hover: true, striped: true, responsive: true }">
                  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td>
                      <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'createAt'">
                          {{ item[columnName] | date : 'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tdContent }}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-template>
                </c-smart-table>
              </c-tab-pane>
              <c-tab-pane class="p-3 preview" role="tabpanel">
                <c-smart-table [items]="contactsByClientWpp" [columns]="columnsContacts" header
                  [tableProps]="{ hover: true, striped: true, responsive: true }">
                  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td>
                      <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'createAt'">
                          {{ item[columnName] | date : 'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ tdContent }}
                        </ng-container>
                      </ng-container>
                    </td>
                  </ng-template>
                </c-smart-table>
              </c-tab-pane>
            </c-tab-content>
          </c-card>
        </c-card>
      </c-tab-pane>

    </c-tab-content>
  </c-card-body>
</c-card>