input[type="text"][class="form-control"][placeholder="Pesquisar por nome, email ou telefone"]{
    width: 400px;
}
.min_perfil{
    display: flex;
    gap: 10px
}
.min_perfil div img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
}