<ng-container>

  <c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto container_list">
      <c-input-group>
        <div cButton color="secondary" id="button-addon1" type="button" variant="outline">
          <svg cIcon name="cilSearch" size="lg"></svg>
        </div>
        <input aria-describedby="button-addon1" [formControl]="valueSearched" (focus)="InputFocused()"
          aria-label="Example text with button addon" class="input-search" cFormControl
          placeholder="Pesquisar clientes" />
      </c-input-group>
      <div class="list_student" *ngIf="isInputFocused">
        <c-card class="card_list" *ngIf="studentSearchead$ | async as studentSearched">
          <div @filterAnimation *ngFor="let item of studentSearched" (click)="goProfileStudent(item.id)">
            <p>{{item.full_name}} <span>{{item.phone | fone}}</span></p>
          </div>
        </c-card>
      </div>
    </c-header-nav>

    <c-header-nav class="ms-auto me-4">
      <form [formGroup]="themeSwitch" cForm>
        <c-button-group aria-label="Theme switch" class="me-4">
          <input class="btn-check" formControlName="themeSwitchRadio" id="btn-light-theme" type="radio" value="light" />
          <label (click)="setTheme('light')" cButton cFormCheckLabel color="primary">
            <svg cIcon name="cilSun"></svg>
          </label>
          <input class="btn-check" formControlName="themeSwitchRadio" id="btn-dark-theme" type="radio" value="dark" />
          <label (click)="setTheme('dark')" cButton cFormCheckLabel color="primary">
            <svg cIcon name="cilMoon"></svg>
          </label>
        </c-button-group>

        <div cButton color="secondary" id="button-addon1" type="button" toggle="visible"
          cSidebarToggle="aside-new-student" title="Novo cadastro" variant="outline" class="me-2">
          <svg cIcon name="cilUserPlus" size="lg"></svg>
        </div>

        <div cButton color="secondary" id="button-addon1" type="button" title="Nova venda" variant="outline"
          (click)="newSale()">
          <svg cIcon name="cilCart" size="lg"></svg>
        </div>

      </form>
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      <ng-container *ngTemplateOutlet="notifyDropdown"></ng-container>
    </c-header-nav>
    <c-header-nav class="me-sm-4">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>

  <ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <a href [caret]="false" cDropdownToggle class="py-0">
        <c-avatar cTextColor="primary" shape="rounded-1" size="md" src="../../../../assets//profile-404.svg"
          status="success">
        </c-avatar>
      </a>
      <ul cDropdownMenu class="pt-0 pr-5 w-auto">
        <li>
          <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10 fw-semibold py-2">Conta</h6>
          <a [routerLink]="[]" cDropdownItem>
            <svg cIcon class="me-2" name="cilSettings"></svg>
            Preferencias
          </a>
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem (click)="showModalWhats()">
            <svg cIcon class="me-2" name="cibWhatsapp"></svg>
            Whatsapp
          </a>
        </li>

        <li>
          <hr cDropdownDivider />
        </li>
        <li>
          <a [routerLink]="[]" cDropdownItem (click)="logout()">
            <svg cIcon class="me-2" name="cilLockLocked"></svg>
            Sair
          </a>
        </li>
        <li></li>
      </ul>
    </c-dropdown>
  </ng-template>

  <ng-template #messagesDropdown>
  </ng-template>

  <ng-template #notifyDropdown>
    <c-dropdown alignment="end" variant="nav-item">
      <a [caret]="false" cDropdownToggle href>
        <svg cIcon class="my-1 mx-2" name="cilBell" size="lg"></svg>
        <c-badge *ngIf="newNotifications?.length" class="position-absolute top-0 end-0" color="danger-gradient"
          shape="rounded-pill">
          {{ newNotifications?.length ?? 0 }}
        </c-badge>
      </a>
      <div cDropdownMenu class="pt-0">
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10">
          <strong>You have {{ newNotifications?.length ?? 0 }} notifications</strong>
        </h6>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-success" name="cilUserFollow"></svg>
          New user registered
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-danger" name="cilUserUnfollow"></svg>
          User deleted
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-info" name="cilChartPie"></svg>
          Sales report is ready
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-primary" name="cilBasket"></svg>
          New client
        </a>
        <a [routerLink]="[]" cDropdownItem>
          <svg cIcon class="me-2 text-warning" name="cilSpeedometer"></svg>
          Server overloaded
        </a>
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10">
          <strong>Server</strong>
        </h6>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="text-uppercase mb-1">
            <small>
              <b>CPU Usage</b>
            </small>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="25" color="info-gradient"></c-progress-bar>
          </c-progress>
          <small class="text-medium-emphasis">348 Processes. 1/4 Cores.</small>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="text-uppercase mb-1">
            <small>
              <b>Memory Usage</b>
            </small>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="70" color="warning-gradient"></c-progress-bar>
          </c-progress>
          <small class="text-medium-emphasis">11444GB/16384MB</small>
        </a>
        <a [routerLink]="[]" cDropdownItem class="d-block">
          <div class="text-uppercase mb-1">
            <small>
              <b>SSD 1 Usage</b>
            </small>
          </div>
          <c-progress thin>
            <c-progress-bar [value]="90" color="danger-gradient"></c-progress-bar>
          </c-progress>
          <small class="text-medium-emphasis">243GB/256GB</small>
        </a>
      </div>
    </c-dropdown>
  </ng-template>

  <ng-template #taskDropdown>

  </ng-template>

  <c-row>
    <c-col md="8"></c-col>
    <c-col md="4">
      <c-alert [color]="serviceShared.alertColor" class="d-flex align-items-end alert_success" fade [visible]="serviceShared.alertVisible">
        <div class="d-flex align-items-center gap-2">
          <svg cIcon name="cilCheckAlt" width="30" height="30"></svg>
          <div class="alert-text">
            <span>{{serviceShared.alertMessage}}</span>
          </div>
        </div>
      </c-alert>
    </c-col>
  </c-row>